---
import BaseLayout from '../../layouts/BaseLayout.astro';
import GuestBookEntries from '../../components/react/GuestBookEntries';
---

<BaseLayout
  title="All Entries — Guest Book — John Litzsinger"
  description="All guest book entries."
  breadcrumbs={[{ label: 'Guest Book', href: '/guest-book' }, { label: 'All Entries' }]}
  scrollable={true}
>
  <div class="entries-page">
    <GuestBookEntries client:idle />
  </div>
</BaseLayout>

<style>
  .entries-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }
</style>
